* {
  box-sizing: border-box;
}

body {
  font-family: 'Metal Mania', cursive;
  background-color: #000;
  color: #FFF;
}

input[type="file"] {
  color: transparent;
  font-size: 0.75rem;
}

#root {
  background-color: #000000;
  min-height: 100vh;
}

select,
select option,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="password"],
.form-textarea,
.post-home,
.band-card,
.chat-message {
  background-color: 000;
  color: #FFF;
}

footer {
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #000000;
  /* min-height: 100%; */
}

footer div span {
  color: #FFF;
  font-size: 1.5rem;
}

.login-form {
  width: 40vw;
}

.image-container {
  border: 1px solid #FFF;
  height: 200px;
  width: 200px;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-select {
  width: 125px;
  background-color: #000;
  color: #FFF;
  font-size: 0.7rem;
}

.profile-select > option {
  font-size: 1rem;
}

.profile-input {
  height: 25px;
}

.profile-container {
  margin: 0 auto;
  margin-bottom: 4rem;
  padding-left: 5rem;
  min-height: 100%;
}

.signup-genre {
  height: 30px;
  width: 215px;
}

.asterisk {
  color: #FF0000;
}

.nav-bg {
  background-image: url('./images/metalink.png');
  background-repeat: no-repeat;
  background-position: 50% 53%;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
  height: 100px;
}

.bg-container {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #000000;
}

.form-container > div {
  margin: 0;
}

.genres,
.profile-element {
  font-size: 1rem;
}

.very-weak {
  background-color: rgb(192, 39, 70);
  height: 25px;
}

.weak {
  background-color: rgb(168, 119, 27);
  height: 25px;
}

.medium {
  background-color: rgb(199, 199, 53);
  height: 25px;
}

.strong {
  background-color: rgb(112, 145, 62);
  height: 25px;
}

.very-strong {
  background-color: rgb(33, 158, 33);
  height: 25px;
}

.valid {
  color: #7CFC00;
}

.invalid {
  color: #DC143C;
}

.form-pw > p,
.form-genre > p {
  margin: 0;
}

.container {
  background-color: black;
  min-height: 100%;
}

.container-fluid {
  min-height: 100%;
}

.fixed-bottom {
  height: 75px;
}

.card:hover {
  border: 1px solid #FF0000;
}

.card-body {
  color: #000;
}

.card-body > p > span {
  color: #FF0000;
}

.card-body > p {
  margin: 0;
}

.post-buttons {
  height: 30px;
  margin: 5px;
}

.post-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.posts-container {
  min-height: 100%;
}

.post-item:hover {
  background-color: #D3D3D3;
  color: #FFF;
}

.form-buttons {
  height: 35px;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #FF0000;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
  color: #FFF;
  background-color: #000;
  border: 1px solid #FFF;
}

.list-group-item:hover {
  background-color: rgb(75, 75, 75);
}

.menu:hover {
  cursor: pointer;
}

.menu-open {
  width: 250px;
}

.menu-closed {
  width: 0;
}

.close-button {
  position: absolute;
  top: 10px;
  left: 200px;
  font-size: 1rem;
  color: #FFF;
  text-decoration: underline;
}

.nav-container {
  width: 100vw;
  background-color: rgba(0, 0, 0, 1);
}

.menu-container {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.post-home {
  border: 1px solid #FFF;
}

.concertsearch-form {
  width: 500px;
}

.concertsearch-table {
  width: 500px;
  height: 450px;
}

.search-img {
  width: auto;
  height: auto;
}

.search-bar {
  margin: 20px;
}

.search-bar input {
  padding-left: 10px;
  background-color: #000;
  color: #FFF;
}

.band-card {
  height: 600px;
  border: 1px solid;
}

.videoresult-container, .chat-container {
  min-height: 100%;
}

.carousel {
  display: flex;
  text-align: center;
  border: 2px solid #000;
  min-height: 100%;
}

.dot {
  font-size: 1rem;
  cursor: pointer;
  padding-top: 15px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.previous {
  transform: translateY(40%);
  cursor: pointer;
  font-size: 2rem;
  padding-right: 10px;
}

.next {
  transform: translateY(40%);
  cursor: pointer;
  font-size: 2rem;
  padding-left: 10px;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .image-container {
      border: 1px solid #FFF;
      height: 125px;
      width: 125px;
    }
    .login-heading {
      width: 340px;
      height: 200px;
      object-fit: cover;
    }
    .login-form {
      width: 300px;
    }
    .nav-bg {
      height: 70px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .posts-container {
      height: 414px;
    }
    .profile-container {
      height: 439px;
      padding-left: 1.25rem;
    }
    .concertsearch-form, .concertsearch-table{
      width: 345px;
    }
    .concertsearch-table {
      height: 393px;
    }
    .band-card {
      height: 395px;
      border: 1px solid;
    }
    .videoresult-container {
      height: 377px;
    }
    .chat-container {
      height: 240px;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .posts-container {
      height: 165px;
    }
    .nav-bg {
      width: 667px;
      height: 4rem;
      background-position: 25% 53%;
    }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    .image-container {
      border: 1px solid #FFF;
      height: 150px;
      width: 150px;
    }
    .login-heading {
      height: 350px;
      object-fit: cover;
    }
    .login-form, .concertsearch-form {
      width: 375px;
    }
    .posts-container {
      height: 750px;
    }
    .nav-bg {
      background-size: 75%;
      height: 100px;
      background-position: 50% 53%;
    }
    .profile-container {
      height: 750px;
      padding-left: 5rem;
      margin-bottom: 4rem;
    }
    .concertsearch-table {
      height: 700px;
      overflow: auto;
    }
    .band-card {
      width: 500px;
      height: 700px;
      border: 1px solid;
    }
    .videoresult-container {
      height: 700px;
    }
    .chat-container {
      height: 600px;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    .posts-container {
      height: 500px
    }
    .nav-bg {
      height: 100px;
      background-position: 50% 53%;
    }
}
